{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="standardMargin"><a href="{{ asset(path('topics')) }}" class="btn btn-default" role="button">Powrót</a></div>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
<div style="display: none;">{{ form_row(form.dateAdded) }}</div>
    {{ form_row(form.expiryDate) }}
    {{ form_row(form.priority) }}
    {{ form_row(form.user_responsible) }}
<div style="display: none;">{{ form_row(form.user_added) }}</div>
    {{ form_row(form.note) }}
<div style="display: none;">{{ form_row(form.accepted) }}</div>
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
